@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --clr-body-background: #f9faff;
  --clr-card-background: #fff;
  --clr-date: #888;
  --clr-likeButton: rgb(95, 95, 253);
  --clr-lightbox: rgba(91, 94, 115, 0.8);
  --clr-lightbox-border: rgb(245, 245, 245);
  --clr-loadMore-button: rgb(64, 192, 224);
  --clr-slider: #ffde82;
  --clr-slider-after: #c9c9c9;
  --clr-text: rgb(122, 122, 122);

  --dark-body-background: #051225;
  --dark-card-background: #051225;
  --dark-text-clr: #fff;
  --dark-border-clr: rgb(142, 142, 142);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-background);
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  align-content: center;
  font-family: "Roboto", sans-serif;
}

.header-container {
  text-align: center;
  padding: 10px;
}

.layout-container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  min-height: 80vh;
  margin-bottom: 1rem;
  gap: 1rem;
  justify-items: center;
}

.card {
  background-color: var(--clr-card-background);
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
}

.profile-image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.card-details {
  padding: 2em;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 0.5rem;
}

.card-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.card-header-info h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.date {
  margin: 0;
  font-size: 0.8rem;
  color: var(--clr-date);
}

.card-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: var(--clr-text);
}
.main-img {
  width: 100%;
  cursor: pointer;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(193, 193, 193);
}

.likes {
  display: flex;
  align-items: center;
  color: var(--clr-text);
}

.likes i {
  margin-right: 5px;
  color: var(--clr-likeButton);
  cursor: pointer;
}

.source a {
  font-size: 14px;
  color: var(--clr-date);
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.source a:hover {
  color: #555;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-lightbox);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#lightbox .lightbox-image {
  border: 3px solid var(--clr-lightbox-border);
  object-fit: contain;
}

#loadMoreBtn {
  padding: 1.2rem 5rem;
  background-color: var(--clr-loadMore-button);
  border-radius: 50px 50px;
  border: none;
  margin: 0 auto;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.08em;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-slider);
  transition: 0.4s;
}

.slider:before {
  font-family: FontAwesome;
  position: absolute;
  content: "\f185";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-body-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider:before {
  content: "\f186";
}

input:checked + .slider {
  background-color: var(--clr-slider-after);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark Mode Styles */
body.dark {
  background: var(--dark-body-background);
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  align-content: center;
  font-family: "Roboto", sans-serif;
}
.card-dark {
  background-color: var(--dark-card-background);
  box-shadow: 0 0 10px rgba(68, 68, 68, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  color: var(--dark-text-clr);
  border: 1px solid var(--dark-border-clr);
}
/* Media query */

@media screen and (max-width: 930px) {
  .layout-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lightbox .lightbox-image {
    border: 3px solid whitesmoke;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}

@media screen and (max-width: 500px) {
  .layout-container {
    width: 100%;
  }
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .profile-image {
    height: 3rem;
    width: 3rem;
  }
  h3 {
    font-size: 1rem !important;
  }
  .date {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 350px) {
  .card-details {
    padding: 1em;
  }
}
